*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body, html{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
    font-size: 30px;
    position: relative;
}
::-webkit-scrollbar{
    display: none;
}
#preloader-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1A1D20;
    z-index: 100;
}
#loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
   padding: 0 20px;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   max-width:1400px;
   margin: 0 auto;
}
#container header{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
#menu-wrapper h2{
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: .8px;
}
#logo-wrapper h1{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: .8px;
}
button{
    background-color: black;
    color: rgb(222, 217, 217);
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}
#hero{
    display: flex;
    align-items: center;
    background-image: url('bicycle.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: rgb(222, 217, 217);
    border-radius: 20px;
    height: clamp(500px, calc(100vh - 90px), 800px);
}
#hero #text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap :20px;
    text-align: center;
    padding: 0 20px;
    word-break:normal;
    margin: 0 auto;
}
#text-wrapper h3{
    font-size: clamp(12px, 1.2vw, 20px);
    font-weight: 600;
}
#text-wrapper h1{
    font-size: clamp(40px, 10vw, 60px);
    font-weight: 600;
}
#text-wrapper h1 p{
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}
#text-wrapper button{
    width:min-content;
    background-color: rgb(222, 217, 217);
    color: rgb(32, 32, 32);
    font-weight: 600;
}

