*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body, html{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}
::-webkit-scrollbar{
    display: none;
}